@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    // margin: 0;
    padding: 0;
    // box-sizing: border-box;
}


body{
    font-family: Poppins;
    background-color:#7159c1;
    width: calc(100vw -(100vw - 100%));
}


$vermelho:#F21364;
$roxo:#12e5d8;
$fundo:#7159c1;
$texto-claro:#fff;

// underline na frente manda nao compilar, so quando importar



// mixin é um bloco de codigo reutizavel, parece com função

@mixin box-shadow($color){
    $text-color:orange;
    box-shadow:2px 2px 4px 2px $color;
}


@mixin make-bold($bool){
    @if($bool==true){
     font-weight: bold;
    }
}


@mixin text-effect($val){
    @if $val == danger{
        color:red;
    }
    @else if $val ==success{
        color:lime;
    }
    @else if $val ==warning{
        color:orange;
    }
    @else{
        color:black;
    }
}







